*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // max-width: 100%;
}
// Remove anchor text-decorations

a {
  text-decoration: none;
}
// Remove list bullets

li {
  list-style: none;
}

// Remove ul padding

ul {
  padding: 0;
  margin: 0;
}
