.stack__container {
  padding: 40px 0;
}

.stack__heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: $secondary-text;
  margin-bottom: 20px;
  text-align: center;
}

.stack__subheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $dark-content;
  margin-bottom: 30px;
  text-align: center;
}

.stack__list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.stack__item {
  @include flex-center;
}

.stack__img {
  width: 100px;
  height: auto;
}

@media (min-width: 1024px) {
  .stack__container {
    @include flex-center;
    flex-direction: column;
  }
  .stack__list {
    overflow-x: visible;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100%;
  }

  .stack__img {
    object-fit: contain;
    height: 100%;
  }

  .stack__heading {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 50px;
  }

  .stack__subheading {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 100px;
  }
}
